body {
    background: url(../images/background2.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: Helvetica, sans-serif;
}



/* portfolio box*/

.prof-box {
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.prof-pic {
    width: 40%;
    border-radius: 50%;
}

h1 {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 40px;
    color:lightgrey;
}

h3 {
    color: lemonchiffon;
    font-weight: 200;
}

p {
    color:  lemonchiffon;
    font-size: 1em;
}

.sosial-icons {
    font-size: 22px;
    letter-spacing: 5px;
    margin-top: 35px;
}

.sosial-icons a {
    color: white;
}

.line-break {
    width: 305px;
    border-top: 1px solid white;
    margin: 0 auto;
}